body {
  margin: 0;
  background-color: #fffdee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-container {
  display: flex;
  align-items: center;
  gap: 40px; /* Space between the cube and logo */
  perspective: 1000px; /* Add perspective to the parent container */
}

.cube {
  width: 100px; /* Original size */
  height: 100px; /* Original size */
  position: relative;
  transform-style: preserve-3d; /* Ensure 3D transform is preserved */
  transform: rotateX(30deg) rotateY(45deg); /* Slightly above and turned */
  animation: spin 5s infinite linear; /* Only spin animation */
}

.face {
  position: absolute;
  width: 100px; /* Original size */
  height: 100px; /* Original size */
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.face img {
  width: 100%;
  height: 100%;
}

.front {
  transform: translateZ(50px); /* Original size */
}

.back {
  transform: rotateY(180deg) translateZ(50px); /* Original size */
}

.top {
  transform: rotateX(90deg) translateZ(50px); /* Original size */
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px); /* Original size */
}

.left {
  transform: rotateY(-90deg) translateZ(50px); /* Original size */
}

.right {
  transform: rotateY(90deg) translateZ(50px); /* Original size */
}

.logo {
  height: 150px; /* Increase the height of the logo */
}

@keyframes spin {
  0% {
	transform: rotateX(30deg) rotateY(45deg);
  }
  50% {
	transform: rotateX(390deg) rotateY(45deg); /* Rotate up */
  }
  100% {
	transform: rotateX(390deg) rotateY(405deg); /* Rotate over */
  }
}